################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/EntityFramework.Verify/bin
/EntityFramework.Verify/obj
*.dll
/.vs
/EntityFramework.Verify/.vs
/EntityFramework.Verify/Linq2Sql.Verify/obj
/EntityFramework.Verify/Linq2Sql.Verify/bin
*.pdb
