################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/EntityFramework.Verify/bin
/EntityFramework.Verify/obj
*.dll
/.vs
/EntityFramework.Verify/.vs
*.pdb
/Linq2Sql.Verify/bin/
/Linq2Sql.Verify/obj/
